@import "../abstracts/mixins";
@import "../abstracts/variables";


.pagination {
  width: 100%;
  padding: 50px 0 8px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 31px 0 7px 0;
  }

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.nav-links {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-numbers {
  width: 41px;
  height: 41px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #323334;
  cursor: pointer;
  @include transition(.4);

  & i {
    font-size: 14px;

  }

  @media (max-width: $breakpoint-lg) {
    width: 36px;
    height: 36px;
  }

  & + & {
    margin-left: 20px;
    @media (max-width: $breakpoint-lg) {
      margin-left: 10px;
    }
  }

  &.current {
    background-color: $accentColor;
    color: $whiteColor;
  }

  &:hover {
    border-color: $accentColor;
  }
}